/node_modules
/dist
/dist-ssr

/.vite
/.output

npm-debug.log*
yarn-error.log*
yarn-debug.log*
pnpm-debug.log*
error.log
logs

.env
.env.local
.env.*.local

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db

/coverage
.nyc_output

package-lock.json.orig